
.Rproj.user/B384E346/pcs/

.Rproj.user/B384E346/sources/session-684ea863/

.Rproj.user/shared/notebooks/

scpederzani.github.io.Rproj

.Rproj.user/B384E346/

*.sav

.Rproj.user/3FBFAEA6/sources/session-3d2fd865/

.Rproj.user/3FBFAEA6/sources/prop/
